@import "bourbon"
@import "vars.sass"
@import "sprite/sprite.sass"

// loads Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/owl.carousel/assets/owl.carousel.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

// Start style icon
.icon_investments
    display: inline-block
    @include sprite($icon-investments)
.icon_payback
    display: inline-block
    @include sprite($icon-payback)
.icon_clock
    display: inline-block
    @include sprite($icon-clock)
.icon_why_we_1
    display: inline-block
    @include sprite($why-we1)
.icon_why_we_2
    display: inline-block
    @include sprite($why-we2)
.icon_why_we_3
    display: inline-block
    @include sprite($why-we3)
.icon_why_we_4
    display: inline-block
    @include sprite($why-we4)
.icon_why_we_5
    display: inline-block
    @include sprite($why-we5)
.icon_why_we_6
    display: inline-block
    @include sprite($why-we6)
// End style icon

// Start what_is_landing
.what_is_landing
    padding: 58px 0 116px
    background: url(../img/what_is_landing_bg.jpg) repeat
    .item
        margin-top: 53px
        text-align: center
        i
            margin-bottom: 17px
        p
            @include font($color_main, 14px, $font_RobotoRegular, 18px)
            span
                color: $color_red
        .title
            @include font($color_main, 20px, $font_RobotoBold)
            margin-bottom: 5px
// End what_is_landing
// Start Why We
.why_we
    background: url(../img/why_we_bg.jpg) center top no-repeat
    .item
        margin-bottom: 40px
        i
            vertical-align: middle
            margin-right: 10px
        p
            display: inline-block
            vertical-align: middle
            @include font($color_red, 30px, $font_ROBOTO_BLACK, 24px)
            span
                @include font($color_main, 18px, $font_ROBOTO_BLACK, 24px)
// End Why We

// Секия footer
.foot_phone
    float: right
    margin-top: 110px
.foot_main
    font: 20px "IntroRegular" 
    color: rgb(255,255,255)
.foot_team
    margin-top: 80px
    margin-bottom: 0px
.foot_white
    font: 54px "IntroRegular" 
    color: rgb(255,255,255)
    margin: 0px
.foot_lawer
    margin-top: 80px
    text-align: center
    font: 15px "RobotoRegular" 
    color: rgb(255,255,255)
.footer
	background-color: #1c1f21
	height: 400px
	flex: 0 0 auto	


//ALWAYS END
@import "media"

