/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$big-arrow-name: 'big_arrow'
$big-arrow-x: 0px
$big-arrow-y: 0px
$big-arrow-offset-x: 0px
$big-arrow-offset-y: 0px
$big-arrow-width: 1019px
$big-arrow-height: 349px
$big-arrow-total-width: 1019px
$big-arrow-total-height: 801px
$big-arrow-image: '../img/sprite.png'
$big-arrow: (0px, 0px, 0px, 0px, 1019px, 349px, 1019px, 801px, '../img/sprite.png', 'big_arrow', )
$dop-1-name: 'dop_1'
$dop-1-x: 89px
$dop-1-y: 498px
$dop-1-offset-x: -89px
$dop-1-offset-y: -498px
$dop-1-width: 103px
$dop-1-height: 103px
$dop-1-total-width: 1019px
$dop-1-total-height: 801px
$dop-1-image: '../img/sprite.png'
$dop-1: (89px, 498px, -89px, -498px, 103px, 103px, 1019px, 801px, '../img/sprite.png', 'dop_1', )
$dop-2-name: 'dop_2'
$dop-2-x: 192px
$dop-2-y: 498px
$dop-2-offset-x: -192px
$dop-2-offset-y: -498px
$dop-2-width: 103px
$dop-2-height: 103px
$dop-2-total-width: 1019px
$dop-2-total-height: 801px
$dop-2-image: '../img/sprite.png'
$dop-2: (192px, 498px, -192px, -498px, 103px, 103px, 1019px, 801px, '../img/sprite.png', 'dop_2', )
$dop-3-name: 'dop_3'
$dop-3-x: 295px
$dop-3-y: 498px
$dop-3-offset-x: -295px
$dop-3-offset-y: -498px
$dop-3-width: 103px
$dop-3-height: 103px
$dop-3-total-width: 1019px
$dop-3-total-height: 801px
$dop-3-image: '../img/sprite.png'
$dop-3: (295px, 498px, -295px, -498px, 103px, 103px, 1019px, 801px, '../img/sprite.png', 'dop_3', )
$eye-name: 'eye'
$eye-x: 276px
$eye-y: 719px
$eye-offset-x: -276px
$eye-offset-y: -719px
$eye-width: 69px
$eye-height: 45px
$eye-total-width: 1019px
$eye-total-height: 801px
$eye-image: '../img/sprite.png'
$eye: (276px, 719px, -276px, -719px, 69px, 45px, 1019px, 801px, '../img/sprite.png', 'eye', )
$foot-mail-name: 'foot_mail'
$foot-mail-x: 371px
$foot-mail-y: 719px
$foot-mail-offset-x: -371px
$foot-mail-offset-y: -719px
$foot-mail-width: 26px
$foot-mail-height: 26px
$foot-mail-total-width: 1019px
$foot-mail-total-height: 801px
$foot-mail-image: '../img/sprite.png'
$foot-mail: (371px, 719px, -371px, -719px, 26px, 26px, 1019px, 801px, '../img/sprite.png', 'foot_mail', )
$foot-phone-name: 'foot_phone'
$foot-phone-x: 972px
$foot-phone-y: 455px
$foot-phone-offset-x: -972px
$foot-phone-offset-y: -455px
$foot-phone-width: 26px
$foot-phone-height: 26px
$foot-phone-total-width: 1019px
$foot-phone-total-height: 801px
$foot-phone-image: '../img/sprite.png'
$foot-phone: (972px, 455px, -972px, -455px, 26px, 26px, 1019px, 801px, '../img/sprite.png', 'foot_phone', )
$foot-skype-name: 'foot_skype'
$foot-skype-x: 946px
$foot-skype-y: 455px
$foot-skype-offset-x: -946px
$foot-skype-offset-y: -455px
$foot-skype-width: 26px
$foot-skype-height: 26px
$foot-skype-total-width: 1019px
$foot-skype-total-height: 801px
$foot-skype-image: '../img/sprite.png'
$foot-skype: (946px, 455px, -946px, -455px, 26px, 26px, 1019px, 801px, '../img/sprite.png', 'foot_skype', )
$header-mail-name: 'header_mail'
$header-mail-x: 996px
$header-mail-y: 349px
$header-mail-offset-x: -996px
$header-mail-offset-y: -349px
$header-mail-width: 17px
$header-mail-height: 19px
$header-mail-total-width: 1019px
$header-mail-total-height: 801px
$header-mail-image: '../img/sprite.png'
$header-mail: (996px, 349px, -996px, -349px, 17px, 19px, 1019px, 801px, '../img/sprite.png', 'header_mail', )
$icon-clock-sm-name: 'icon_clock-sm'
$icon-clock-sm-x: 927px
$icon-clock-sm-y: 601px
$icon-clock-sm-offset-x: -927px
$icon-clock-sm-offset-y: -601px
$icon-clock-sm-width: 68px
$icon-clock-sm-height: 71px
$icon-clock-sm-total-width: 1019px
$icon-clock-sm-total-height: 801px
$icon-clock-sm-image: '../img/sprite.png'
$icon-clock-sm: (927px, 601px, -927px, -601px, 68px, 71px, 1019px, 801px, '../img/sprite.png', 'icon_clock-sm', )
$icon-clock-name: 'icon_clock'
$icon-clock-x: 894px
$icon-clock-y: 349px
$icon-clock-offset-x: -894px
$icon-clock-offset-y: -349px
$icon-clock-width: 102px
$icon-clock-height: 106px
$icon-clock-total-width: 1019px
$icon-clock-total-height: 801px
$icon-clock-image: '../img/sprite.png'
$icon-clock: (894px, 349px, -894px, -349px, 102px, 106px, 1019px, 801px, '../img/sprite.png', 'icon_clock', )
$icon-header-arrow-name: 'icon_header_arrow'
$icon-header-arrow-x: 287px
$icon-header-arrow-y: 683px
$icon-header-arrow-offset-x: -287px
$icon-header-arrow-offset-y: -683px
$icon-header-arrow-width: 28px
$icon-header-arrow-height: 18px
$icon-header-arrow-total-width: 1019px
$icon-header-arrow-total-height: 801px
$icon-header-arrow-image: '../img/sprite.png'
$icon-header-arrow: (287px, 683px, -287px, -683px, 28px, 18px, 1019px, 801px, '../img/sprite.png', 'icon_header_arrow', )
$icon-header-phone-name: 'icon_header_phone'
$icon-header-phone-x: 345px
$icon-header-phone-y: 719px
$icon-header-phone-offset-x: -345px
$icon-header-phone-offset-y: -719px
$icon-header-phone-width: 26px
$icon-header-phone-height: 26px
$icon-header-phone-total-width: 1019px
$icon-header-phone-total-height: 801px
$icon-header-phone-image: '../img/sprite.png'
$icon-header-phone: (345px, 719px, -345px, -719px, 26px, 26px, 1019px, 801px, '../img/sprite.png', 'icon_header_phone', )
$icon-investments-sm-name: 'icon_investments-sm'
$icon-investments-sm-x: 144px
$icon-investments-sm-y: 719px
$icon-investments-sm-offset-x: -144px
$icon-investments-sm-offset-y: -719px
$icon-investments-sm-width: 68px
$icon-investments-sm-height: 69px
$icon-investments-sm-total-width: 1019px
$icon-investments-sm-total-height: 801px
$icon-investments-sm-image: '../img/sprite.png'
$icon-investments-sm: (144px, 719px, -144px, -719px, 68px, 69px, 1019px, 801px, '../img/sprite.png', 'icon_investments-sm', )
$icon-investments-name: 'icon_investments'
$icon-investments-x: 89px
$icon-investments-y: 601px
$icon-investments-offset-x: -89px
$icon-investments-offset-y: -601px
$icon-investments-width: 102px
$icon-investments-height: 104px
$icon-investments-total-width: 1019px
$icon-investments-total-height: 801px
$icon-investments-image: '../img/sprite.png'
$icon-investments: (89px, 601px, -89px, -601px, 102px, 104px, 1019px, 801px, '../img/sprite.png', 'icon_investments', )
$icon-payback-sm-name: 'icon_payback-sm'
$icon-payback-sm-x: 212px
$icon-payback-sm-y: 719px
$icon-payback-sm-offset-x: -212px
$icon-payback-sm-offset-y: -719px
$icon-payback-sm-width: 64px
$icon-payback-sm-height: 69px
$icon-payback-sm-total-width: 1019px
$icon-payback-sm-total-height: 801px
$icon-payback-sm-image: '../img/sprite.png'
$icon-payback-sm: (212px, 719px, -212px, -719px, 64px, 69px, 1019px, 801px, '../img/sprite.png', 'icon_payback-sm', )
$icon-payback-name: 'icon_payback'
$icon-payback-x: 191px
$icon-payback-y: 601px
$icon-payback-offset-x: -191px
$icon-payback-offset-y: -601px
$icon-payback-width: 96px
$icon-payback-height: 103px
$icon-payback-total-width: 1019px
$icon-payback-total-height: 801px
$icon-payback-image: '../img/sprite.png'
$icon-payback: (191px, 601px, -191px, -601px, 96px, 103px, 1019px, 801px, '../img/sprite.png', 'icon_payback', )
$non-name: 'non'
$non-x: 1007px
$non-y: 368px
$non-offset-x: -1007px
$non-offset-y: -368px
$non-width: 11px
$non-height: 12px
$non-total-width: 1019px
$non-total-height: 801px
$non-image: '../img/sprite.png'
$non: (1007px, 368px, -1007px, -368px, 11px, 12px, 1019px, 801px, '../img/sprite.png', 'non', )
$ok-name: 'ok'
$ok-x: 996px
$ok-y: 368px
$ok-offset-x: -996px
$ok-offset-y: -368px
$ok-width: 11px
$ok-height: 12px
$ok-total-width: 1019px
$ok-total-height: 801px
$ok-image: '../img/sprite.png'
$ok: (996px, 368px, -996px, -368px, 11px, 12px, 1019px, 801px, '../img/sprite.png', 'ok', )
$red-arrow-name: 'red_arrow'
$red-arrow-x: 0px
$red-arrow-y: 498px
$red-arrow-offset-x: 0px
$red-arrow-offset-y: -498px
$red-arrow-width: 89px
$red-arrow-height: 221px
$red-arrow-total-width: 1019px
$red-arrow-total-height: 801px
$red-arrow-image: '../img/sprite.png'
$red-arrow: (0px, 498px, 0px, -498px, 89px, 221px, 1019px, 801px, '../img/sprite.png', 'red_arrow', )
$slider-arrow-name: 'slider_arrow'
$slider-arrow-x: 920px
$slider-arrow-y: 455px
$slider-arrow-offset-x: -920px
$slider-arrow-offset-y: -455px
$slider-arrow-width: 26px
$slider-arrow-height: 42px
$slider-arrow-total-width: 1019px
$slider-arrow-total-height: 801px
$slider-arrow-image: '../img/sprite.png'
$slider-arrow: (920px, 455px, -920px, -455px, 26px, 42px, 1019px, 801px, '../img/sprite.png', 'slider_arrow', )
$slider-arrow-hover-name: 'slider_arrow_hover'
$slider-arrow-hover-x: 894px
$slider-arrow-hover-y: 455px
$slider-arrow-hover-offset-x: -894px
$slider-arrow-hover-offset-y: -455px
$slider-arrow-hover-width: 26px
$slider-arrow-hover-height: 42px
$slider-arrow-hover-total-width: 1019px
$slider-arrow-hover-total-height: 801px
$slider-arrow-hover-image: '../img/sprite.png'
$slider-arrow-hover: (894px, 455px, -894px, -455px, 26px, 42px, 1019px, 801px, '../img/sprite.png', 'slider_arrow_hover', )
$who-need-lp1-name: 'who_need_lp1'
$who-need-lp1-x: 848px
$who-need-lp1-y: 601px
$who-need-lp1-offset-x: -848px
$who-need-lp1-offset-y: -601px
$who-need-lp1-width: 79px
$who-need-lp1-height: 79px
$who-need-lp1-total-width: 1019px
$who-need-lp1-total-height: 801px
$who-need-lp1-image: '../img/sprite.png'
$who-need-lp1: (848px, 601px, -848px, -601px, 79px, 79px, 1019px, 801px, '../img/sprite.png', 'who_need_lp1', )
$who-need-lp1-hover-name: 'who_need_lp1_hover'
$who-need-lp1-hover-x: 769px
$who-need-lp1-hover-y: 601px
$who-need-lp1-hover-offset-x: -769px
$who-need-lp1-hover-offset-y: -601px
$who-need-lp1-hover-width: 79px
$who-need-lp1-hover-height: 80px
$who-need-lp1-hover-total-width: 1019px
$who-need-lp1-hover-total-height: 801px
$who-need-lp1-hover-image: '../img/sprite.png'
$who-need-lp1-hover: (769px, 601px, -769px, -601px, 79px, 80px, 1019px, 801px, '../img/sprite.png', 'who_need_lp1_hover', )
$who-need-lp2-name: 'who_need_lp2'
$who-need-lp2-x: 368px
$who-need-lp2-y: 601px
$who-need-lp2-offset-x: -368px
$who-need-lp2-offset-y: -601px
$who-need-lp2-width: 81px
$who-need-lp2-height: 81px
$who-need-lp2-total-width: 1019px
$who-need-lp2-total-height: 801px
$who-need-lp2-image: '../img/sprite.png'
$who-need-lp2: (368px, 601px, -368px, -601px, 81px, 81px, 1019px, 801px, '../img/sprite.png', 'who_need_lp2', )
$who-need-lp2-hover-name: 'who_need_lp2_hover'
$who-need-lp2-hover-x: 287px
$who-need-lp2-hover-y: 601px
$who-need-lp2-hover-offset-x: -287px
$who-need-lp2-hover-offset-y: -601px
$who-need-lp2-hover-width: 81px
$who-need-lp2-hover-height: 82px
$who-need-lp2-hover-total-width: 1019px
$who-need-lp2-hover-total-height: 801px
$who-need-lp2-hover-image: '../img/sprite.png'
$who-need-lp2-hover: (287px, 601px, -287px, -601px, 81px, 82px, 1019px, 801px, '../img/sprite.png', 'who_need_lp2_hover', )
$who-need-lp3-name: 'who_need_lp3'
$who-need-lp3-x: 72px
$who-need-lp3-y: 719px
$who-need-lp3-offset-x: -72px
$who-need-lp3-offset-y: -719px
$who-need-lp3-width: 72px
$who-need-lp3-height: 82px
$who-need-lp3-total-width: 1019px
$who-need-lp3-total-height: 801px
$who-need-lp3-image: '../img/sprite.png'
$who-need-lp3: (72px, 719px, -72px, -719px, 72px, 82px, 1019px, 801px, '../img/sprite.png', 'who_need_lp3', )
$who-need-lp3-hover-name: 'who_need_lp3_hover'
$who-need-lp3-hover-x: 0px
$who-need-lp3-hover-y: 719px
$who-need-lp3-hover-offset-x: 0px
$who-need-lp3-hover-offset-y: -719px
$who-need-lp3-hover-width: 72px
$who-need-lp3-hover-height: 82px
$who-need-lp3-hover-total-width: 1019px
$who-need-lp3-hover-total-height: 801px
$who-need-lp3-hover-image: '../img/sprite.png'
$who-need-lp3-hover: (0px, 719px, 0px, -719px, 72px, 82px, 1019px, 801px, '../img/sprite.png', 'who_need_lp3_hover', )
$who-need-lp4-name: 'who_need_lp4'
$who-need-lp4-x: 689px
$who-need-lp4-y: 601px
$who-need-lp4-offset-x: -689px
$who-need-lp4-offset-y: -601px
$who-need-lp4-width: 80px
$who-need-lp4-height: 81px
$who-need-lp4-total-width: 1019px
$who-need-lp4-total-height: 801px
$who-need-lp4-image: '../img/sprite.png'
$who-need-lp4: (689px, 601px, -689px, -601px, 80px, 81px, 1019px, 801px, '../img/sprite.png', 'who_need_lp4', )
$who-need-lp4-hover-name: 'who_need_lp4_hover'
$who-need-lp4-hover-x: 609px
$who-need-lp4-hover-y: 601px
$who-need-lp4-hover-offset-x: -609px
$who-need-lp4-hover-offset-y: -601px
$who-need-lp4-hover-width: 80px
$who-need-lp4-hover-height: 81px
$who-need-lp4-hover-total-width: 1019px
$who-need-lp4-hover-total-height: 801px
$who-need-lp4-hover-image: '../img/sprite.png'
$who-need-lp4-hover: (609px, 601px, -609px, -601px, 80px, 81px, 1019px, 801px, '../img/sprite.png', 'who_need_lp4_hover', )
$who-need-lp5-name: 'who_need_lp5'
$who-need-lp5-x: 529px
$who-need-lp5-y: 601px
$who-need-lp5-offset-x: -529px
$who-need-lp5-offset-y: -601px
$who-need-lp5-width: 80px
$who-need-lp5-height: 81px
$who-need-lp5-total-width: 1019px
$who-need-lp5-total-height: 801px
$who-need-lp5-image: '../img/sprite.png'
$who-need-lp5: (529px, 601px, -529px, -601px, 80px, 81px, 1019px, 801px, '../img/sprite.png', 'who_need_lp5', )
$who-need-lp5-hover-name: 'who_need_lp5_hover'
$who-need-lp5-hover-x: 449px
$who-need-lp5-hover-y: 601px
$who-need-lp5-hover-offset-x: -449px
$who-need-lp5-hover-offset-y: -601px
$who-need-lp5-hover-width: 80px
$who-need-lp5-hover-height: 81px
$who-need-lp5-hover-total-width: 1019px
$who-need-lp5-hover-total-height: 801px
$who-need-lp5-hover-image: '../img/sprite.png'
$who-need-lp5-hover: (449px, 601px, -449px, -601px, 80px, 81px, 1019px, 801px, '../img/sprite.png', 'who_need_lp5_hover', )
$why-we1-sm-name: 'why-we1-sm'
$why-we1-sm-x: 498px
$why-we1-sm-y: 498px
$why-we1-sm-offset-x: -498px
$why-we1-sm-offset-y: -498px
$why-we1-sm-width: 100px
$why-we1-sm-height: 100px
$why-we1-sm-total-width: 1019px
$why-we1-sm-total-height: 801px
$why-we1-sm-image: '../img/sprite.png'
$why-we1-sm: (498px, 498px, -498px, -498px, 100px, 100px, 1019px, 801px, '../img/sprite.png', 'why-we1-sm', )
$why-we1-name: 'why-we1'
$why-we1-x: 745px
$why-we1-y: 349px
$why-we1-offset-x: -745px
$why-we1-offset-y: -349px
$why-we1-width: 149px
$why-we1-height: 149px
$why-we1-total-width: 1019px
$why-we1-total-height: 801px
$why-we1-image: '../img/sprite.png'
$why-we1: (745px, 349px, -745px, -349px, 149px, 149px, 1019px, 801px, '../img/sprite.png', 'why-we1', )
$why-we2-sm-name: 'why-we2-sm'
$why-we2-sm-x: 398px
$why-we2-sm-y: 498px
$why-we2-sm-offset-x: -398px
$why-we2-sm-offset-y: -498px
$why-we2-sm-width: 100px
$why-we2-sm-height: 100px
$why-we2-sm-total-width: 1019px
$why-we2-sm-total-height: 801px
$why-we2-sm-image: '../img/sprite.png'
$why-we2-sm: (398px, 498px, -398px, -498px, 100px, 100px, 1019px, 801px, '../img/sprite.png', 'why-we2-sm', )
$why-we2-name: 'why-we2'
$why-we2-x: 596px
$why-we2-y: 349px
$why-we2-offset-x: -596px
$why-we2-offset-y: -349px
$why-we2-width: 149px
$why-we2-height: 149px
$why-we2-total-width: 1019px
$why-we2-total-height: 801px
$why-we2-image: '../img/sprite.png'
$why-we2: (596px, 349px, -596px, -349px, 149px, 149px, 1019px, 801px, '../img/sprite.png', 'why-we2', )
$why-we3-sm-name: 'why-we3-sm'
$why-we3-sm-x: 598px
$why-we3-sm-y: 498px
$why-we3-sm-offset-x: -598px
$why-we3-sm-offset-y: -498px
$why-we3-sm-width: 100px
$why-we3-sm-height: 100px
$why-we3-sm-total-width: 1019px
$why-we3-sm-total-height: 801px
$why-we3-sm-image: '../img/sprite.png'
$why-we3-sm: (598px, 498px, -598px, -498px, 100px, 100px, 1019px, 801px, '../img/sprite.png', 'why-we3-sm', )
$why-we3-name: 'why-we3'
$why-we3-x: 447px
$why-we3-y: 349px
$why-we3-offset-x: -447px
$why-we3-offset-y: -349px
$why-we3-width: 149px
$why-we3-height: 149px
$why-we3-total-width: 1019px
$why-we3-total-height: 801px
$why-we3-image: '../img/sprite.png'
$why-we3: (447px, 349px, -447px, -349px, 149px, 149px, 1019px, 801px, '../img/sprite.png', 'why-we3', )
$why-we4-sm-name: 'why-we4-sm'
$why-we4-sm-x: 898px
$why-we4-sm-y: 498px
$why-we4-sm-offset-x: -898px
$why-we4-sm-offset-y: -498px
$why-we4-sm-width: 100px
$why-we4-sm-height: 100px
$why-we4-sm-total-width: 1019px
$why-we4-sm-total-height: 801px
$why-we4-sm-image: '../img/sprite.png'
$why-we4-sm: (898px, 498px, -898px, -498px, 100px, 100px, 1019px, 801px, '../img/sprite.png', 'why-we4-sm', )
$why-we4-name: 'why-we4'
$why-we4-x: 298px
$why-we4-y: 349px
$why-we4-offset-x: -298px
$why-we4-offset-y: -349px
$why-we4-width: 149px
$why-we4-height: 149px
$why-we4-total-width: 1019px
$why-we4-total-height: 801px
$why-we4-image: '../img/sprite.png'
$why-we4: (298px, 349px, -298px, -349px, 149px, 149px, 1019px, 801px, '../img/sprite.png', 'why-we4', )
$why-we5-sm-name: 'why-we5-sm'
$why-we5-sm-x: 798px
$why-we5-sm-y: 498px
$why-we5-sm-offset-x: -798px
$why-we5-sm-offset-y: -498px
$why-we5-sm-width: 100px
$why-we5-sm-height: 100px
$why-we5-sm-total-width: 1019px
$why-we5-sm-total-height: 801px
$why-we5-sm-image: '../img/sprite.png'
$why-we5-sm: (798px, 498px, -798px, -498px, 100px, 100px, 1019px, 801px, '../img/sprite.png', 'why-we5-sm', )
$why-we5-name: 'why-we5'
$why-we5-x: 149px
$why-we5-y: 349px
$why-we5-offset-x: -149px
$why-we5-offset-y: -349px
$why-we5-width: 149px
$why-we5-height: 149px
$why-we5-total-width: 1019px
$why-we5-total-height: 801px
$why-we5-image: '../img/sprite.png'
$why-we5: (149px, 349px, -149px, -349px, 149px, 149px, 1019px, 801px, '../img/sprite.png', 'why-we5', )
$why-we6-sm-name: 'why-we6-sm'
$why-we6-sm-x: 698px
$why-we6-sm-y: 498px
$why-we6-sm-offset-x: -698px
$why-we6-sm-offset-y: -498px
$why-we6-sm-width: 100px
$why-we6-sm-height: 100px
$why-we6-sm-total-width: 1019px
$why-we6-sm-total-height: 801px
$why-we6-sm-image: '../img/sprite.png'
$why-we6-sm: (698px, 498px, -698px, -498px, 100px, 100px, 1019px, 801px, '../img/sprite.png', 'why-we6-sm', )
$why-we6-name: 'why-we6'
$why-we6-x: 0px
$why-we6-y: 349px
$why-we6-offset-x: 0px
$why-we6-offset-y: -349px
$why-we6-width: 149px
$why-we6-height: 149px
$why-we6-total-width: 1019px
$why-we6-total-height: 801px
$why-we6-image: '../img/sprite.png'
$why-we6: (0px, 349px, 0px, -349px, 149px, 149px, 1019px, 801px, '../img/sprite.png', 'why-we6', )
$spritesheet-width: 1019px
$spritesheet-height: 801px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($big-arrow, $dop-1, $dop-2, $dop-3, $eye, $foot-mail, $foot-phone, $foot-skype, $header-mail, $icon-clock-sm, $icon-clock, $icon-header-arrow, $icon-header-phone, $icon-investments-sm, $icon-investments, $icon-payback-sm, $icon-payback, $non, $ok, $red-arrow, $slider-arrow, $slider-arrow-hover, $who-need-lp1, $who-need-lp1-hover, $who-need-lp2, $who-need-lp2-hover, $who-need-lp3, $who-need-lp3-hover, $who-need-lp4, $who-need-lp4-hover, $who-need-lp5, $who-need-lp5-hover, $why-we1-sm, $why-we1, $why-we2-sm, $why-we2, $why-we3-sm, $why-we3, $why-we4-sm, $why-we4, $why-we5-sm, $why-we5, $why-we6-sm, $why-we6, )
$spritesheet: (1019px, 801px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
