/*
  SASS variables are information about icon's compiled state, stored under its original file name

  .icon-home
    width: $icon-home-width

  The large array-like variables contain all information about a single icon
  $icon-home: x y offset_x offset_y width height total_width total_height image_path

  At the bottom of this section, we provide information about the spritesheet itself
  $spritesheet: width height image $spritesheet-sprites
  */
$eye-name: 'eye'
$eye-x: 536px
$eye-y: 164px
$eye-offset-x: -536px
$eye-offset-y: -164px
$eye-width: 69px
$eye-height: 45px
$eye-total-width: 608px
$eye-total-height: 485px
$eye-image: '../img/sprite.png'
$eye: (536px, 164px, -536px, -164px, 69px, 45px, 608px, 485px, '../img/sprite.png', 'eye', )
$header-mail-name: 'header_mail'
$header-mail-x: 588px
$header-mail-y: 209px
$header-mail-offset-x: -588px
$header-mail-offset-y: -209px
$header-mail-width: 17px
$header-mail-height: 19px
$header-mail-total-width: 608px
$header-mail-total-height: 485px
$header-mail-image: '../img/sprite.png'
$header-mail: (588px, 209px, -588px, -209px, 17px, 19px, 608px, 485px, '../img/sprite.png', 'header_mail', )
$icon-clock-name: 'icon_clock'
$icon-clock-x: 0px
$icon-clock-y: 298px
$icon-clock-offset-x: 0px
$icon-clock-offset-y: -298px
$icon-clock-width: 102px
$icon-clock-height: 106px
$icon-clock-total-width: 608px
$icon-clock-total-height: 485px
$icon-clock-image: '../img/sprite.png'
$icon-clock: (0px, 298px, 0px, -298px, 102px, 106px, 608px, 485px, '../img/sprite.png', 'icon_clock', )
$icon-header-arrow-name: 'icon_header_arrow'
$icon-header-arrow-x: 562px
$icon-header-arrow-y: 251px
$icon-header-arrow-offset-x: -562px
$icon-header-arrow-offset-y: -251px
$icon-header-arrow-width: 28px
$icon-header-arrow-height: 18px
$icon-header-arrow-total-width: 608px
$icon-header-arrow-total-height: 485px
$icon-header-arrow-image: '../img/sprite.png'
$icon-header-arrow: (562px, 251px, -562px, -251px, 28px, 18px, 608px, 485px, '../img/sprite.png', 'icon_header_arrow', )
$icon-header-phone-name: 'icon_header_phone'
$icon-header-phone-x: 536px
$icon-header-phone-y: 251px
$icon-header-phone-offset-x: -536px
$icon-header-phone-offset-y: -251px
$icon-header-phone-width: 26px
$icon-header-phone-height: 26px
$icon-header-phone-total-width: 608px
$icon-header-phone-total-height: 485px
$icon-header-phone-image: '../img/sprite.png'
$icon-header-phone: (536px, 251px, -536px, -251px, 26px, 26px, 608px, 485px, '../img/sprite.png', 'icon_header_phone', )
$icon-investments-name: 'icon_investments'
$icon-investments-x: 102px
$icon-investments-y: 298px
$icon-investments-offset-x: -102px
$icon-investments-offset-y: -298px
$icon-investments-width: 102px
$icon-investments-height: 104px
$icon-investments-total-width: 608px
$icon-investments-total-height: 485px
$icon-investments-image: '../img/sprite.png'
$icon-investments: (102px, 298px, -102px, -298px, 102px, 104px, 608px, 485px, '../img/sprite.png', 'icon_investments', )
$icon-payback-name: 'icon_payback'
$icon-payback-x: 204px
$icon-payback-y: 298px
$icon-payback-offset-x: -204px
$icon-payback-offset-y: -298px
$icon-payback-width: 96px
$icon-payback-height: 103px
$icon-payback-total-width: 608px
$icon-payback-total-height: 485px
$icon-payback-image: '../img/sprite.png'
$icon-payback: (204px, 298px, -204px, -298px, 96px, 103px, 608px, 485px, '../img/sprite.png', 'icon_payback', )
$red-arrow-name: 'red_arrow'
$red-arrow-x: 447px
$red-arrow-y: 0px
$red-arrow-offset-x: -447px
$red-arrow-offset-y: 0px
$red-arrow-width: 89px
$red-arrow-height: 221px
$red-arrow-total-width: 608px
$red-arrow-total-height: 485px
$red-arrow-image: '../img/sprite.png'
$red-arrow: (447px, 0px, -447px, 0px, 89px, 221px, 608px, 485px, '../img/sprite.png', 'red_arrow', )
$slider-arrow-name: 'slider_arrow'
$slider-arrow-x: 562px
$slider-arrow-y: 209px
$slider-arrow-offset-x: -562px
$slider-arrow-offset-y: -209px
$slider-arrow-width: 26px
$slider-arrow-height: 42px
$slider-arrow-total-width: 608px
$slider-arrow-total-height: 485px
$slider-arrow-image: '../img/sprite.png'
$slider-arrow: (562px, 209px, -562px, -209px, 26px, 42px, 608px, 485px, '../img/sprite.png', 'slider_arrow', )
$slider-arrow-hover-name: 'slider_arrow_hover'
$slider-arrow-hover-x: 536px
$slider-arrow-hover-y: 209px
$slider-arrow-hover-offset-x: -536px
$slider-arrow-hover-offset-y: -209px
$slider-arrow-hover-width: 26px
$slider-arrow-hover-height: 42px
$slider-arrow-hover-total-width: 608px
$slider-arrow-hover-total-height: 485px
$slider-arrow-hover-image: '../img/sprite.png'
$slider-arrow-hover: (536px, 209px, -536px, -209px, 26px, 42px, 608px, 485px, '../img/sprite.png', 'slider_arrow_hover', )
$who-need-lp1-name: 'who_need_lp1'
$who-need-lp1-x: 399px
$who-need-lp1-y: 404px
$who-need-lp1-offset-x: -399px
$who-need-lp1-offset-y: -404px
$who-need-lp1-width: 79px
$who-need-lp1-height: 79px
$who-need-lp1-total-width: 608px
$who-need-lp1-total-height: 485px
$who-need-lp1-image: '../img/sprite.png'
$who-need-lp1: (399px, 404px, -399px, -404px, 79px, 79px, 608px, 485px, '../img/sprite.png', 'who_need_lp1', )
$who-need-lp1-hover-name: 'who_need_lp1_hover'
$who-need-lp1-hover-x: 320px
$who-need-lp1-hover-y: 404px
$who-need-lp1-hover-offset-x: -320px
$who-need-lp1-hover-offset-y: -404px
$who-need-lp1-hover-width: 79px
$who-need-lp1-hover-height: 80px
$who-need-lp1-hover-total-width: 608px
$who-need-lp1-hover-total-height: 485px
$who-need-lp1-hover-image: '../img/sprite.png'
$who-need-lp1-hover: (320px, 404px, -320px, -404px, 79px, 80px, 608px, 485px, '../img/sprite.png', 'who_need_lp1_hover', )
$who-need-lp2-name: 'who_need_lp2'
$who-need-lp2-x: 381px
$who-need-lp2-y: 298px
$who-need-lp2-offset-x: -381px
$who-need-lp2-offset-y: -298px
$who-need-lp2-width: 81px
$who-need-lp2-height: 81px
$who-need-lp2-total-width: 608px
$who-need-lp2-total-height: 485px
$who-need-lp2-image: '../img/sprite.png'
$who-need-lp2: (381px, 298px, -381px, -298px, 81px, 81px, 608px, 485px, '../img/sprite.png', 'who_need_lp2', )
$who-need-lp2-hover-name: 'who_need_lp2_hover'
$who-need-lp2-hover-x: 300px
$who-need-lp2-hover-y: 298px
$who-need-lp2-hover-offset-x: -300px
$who-need-lp2-hover-offset-y: -298px
$who-need-lp2-hover-width: 81px
$who-need-lp2-hover-height: 82px
$who-need-lp2-hover-total-width: 608px
$who-need-lp2-hover-total-height: 485px
$who-need-lp2-hover-image: '../img/sprite.png'
$who-need-lp2-hover: (300px, 298px, -300px, -298px, 81px, 82px, 608px, 485px, '../img/sprite.png', 'who_need_lp2_hover', )
$who-need-lp3-name: 'who_need_lp3'
$who-need-lp3-x: 536px
$who-need-lp3-y: 82px
$who-need-lp3-offset-x: -536px
$who-need-lp3-offset-y: -82px
$who-need-lp3-width: 72px
$who-need-lp3-height: 82px
$who-need-lp3-total-width: 608px
$who-need-lp3-total-height: 485px
$who-need-lp3-image: '../img/sprite.png'
$who-need-lp3: (536px, 82px, -536px, -82px, 72px, 82px, 608px, 485px, '../img/sprite.png', 'who_need_lp3', )
$who-need-lp3-hover-name: 'who_need_lp3_hover'
$who-need-lp3-hover-x: 536px
$who-need-lp3-hover-y: 0px
$who-need-lp3-hover-offset-x: -536px
$who-need-lp3-hover-offset-y: 0px
$who-need-lp3-hover-width: 72px
$who-need-lp3-hover-height: 82px
$who-need-lp3-hover-total-width: 608px
$who-need-lp3-hover-total-height: 485px
$who-need-lp3-hover-image: '../img/sprite.png'
$who-need-lp3-hover: (536px, 0px, -536px, 0px, 72px, 82px, 608px, 485px, '../img/sprite.png', 'who_need_lp3_hover', )
$who-need-lp4-name: 'who_need_lp4'
$who-need-lp4-x: 240px
$who-need-lp4-y: 404px
$who-need-lp4-offset-x: -240px
$who-need-lp4-offset-y: -404px
$who-need-lp4-width: 80px
$who-need-lp4-height: 81px
$who-need-lp4-total-width: 608px
$who-need-lp4-total-height: 485px
$who-need-lp4-image: '../img/sprite.png'
$who-need-lp4: (240px, 404px, -240px, -404px, 80px, 81px, 608px, 485px, '../img/sprite.png', 'who_need_lp4', )
$who-need-lp4-hover-name: 'who_need_lp4_hover'
$who-need-lp4-hover-x: 160px
$who-need-lp4-hover-y: 404px
$who-need-lp4-hover-offset-x: -160px
$who-need-lp4-hover-offset-y: -404px
$who-need-lp4-hover-width: 80px
$who-need-lp4-hover-height: 81px
$who-need-lp4-hover-total-width: 608px
$who-need-lp4-hover-total-height: 485px
$who-need-lp4-hover-image: '../img/sprite.png'
$who-need-lp4-hover: (160px, 404px, -160px, -404px, 80px, 81px, 608px, 485px, '../img/sprite.png', 'who_need_lp4_hover', )
$who-need-lp5-name: 'who_need_lp5'
$who-need-lp5-x: 0px
$who-need-lp5-y: 404px
$who-need-lp5-offset-x: 0px
$who-need-lp5-offset-y: -404px
$who-need-lp5-width: 80px
$who-need-lp5-height: 81px
$who-need-lp5-total-width: 608px
$who-need-lp5-total-height: 485px
$who-need-lp5-image: '../img/sprite.png'
$who-need-lp5: (0px, 404px, 0px, -404px, 80px, 81px, 608px, 485px, '../img/sprite.png', 'who_need_lp5', )
$who-need-lp5-hover-name: 'who_need_lp5_hover'
$who-need-lp5-hover-x: 80px
$who-need-lp5-hover-y: 404px
$who-need-lp5-hover-offset-x: -80px
$who-need-lp5-hover-offset-y: -404px
$who-need-lp5-hover-width: 80px
$who-need-lp5-hover-height: 81px
$who-need-lp5-hover-total-width: 608px
$who-need-lp5-hover-total-height: 485px
$who-need-lp5-hover-image: '../img/sprite.png'
$who-need-lp5-hover: (80px, 404px, -80px, -404px, 80px, 81px, 608px, 485px, '../img/sprite.png', 'who_need_lp5_hover', )
$why-we1-name: 'why-we1'
$why-we1-x: 298px
$why-we1-y: 149px
$why-we1-offset-x: -298px
$why-we1-offset-y: -149px
$why-we1-width: 149px
$why-we1-height: 149px
$why-we1-total-width: 608px
$why-we1-total-height: 485px
$why-we1-image: '../img/sprite.png'
$why-we1: (298px, 149px, -298px, -149px, 149px, 149px, 608px, 485px, '../img/sprite.png', 'why-we1', )
$why-we2-name: 'why-we2'
$why-we2-x: 298px
$why-we2-y: 0px
$why-we2-offset-x: -298px
$why-we2-offset-y: 0px
$why-we2-width: 149px
$why-we2-height: 149px
$why-we2-total-width: 608px
$why-we2-total-height: 485px
$why-we2-image: '../img/sprite.png'
$why-we2: (298px, 0px, -298px, 0px, 149px, 149px, 608px, 485px, '../img/sprite.png', 'why-we2', )
$why-we3-name: 'why-we3'
$why-we3-x: 149px
$why-we3-y: 149px
$why-we3-offset-x: -149px
$why-we3-offset-y: -149px
$why-we3-width: 149px
$why-we3-height: 149px
$why-we3-total-width: 608px
$why-we3-total-height: 485px
$why-we3-image: '../img/sprite.png'
$why-we3: (149px, 149px, -149px, -149px, 149px, 149px, 608px, 485px, '../img/sprite.png', 'why-we3', )
$why-we4-name: 'why-we4'
$why-we4-x: 0px
$why-we4-y: 149px
$why-we4-offset-x: 0px
$why-we4-offset-y: -149px
$why-we4-width: 149px
$why-we4-height: 149px
$why-we4-total-width: 608px
$why-we4-total-height: 485px
$why-we4-image: '../img/sprite.png'
$why-we4: (0px, 149px, 0px, -149px, 149px, 149px, 608px, 485px, '../img/sprite.png', 'why-we4', )
$why-we5-name: 'why-we5'
$why-we5-x: 149px
$why-we5-y: 0px
$why-we5-offset-x: -149px
$why-we5-offset-y: 0px
$why-we5-width: 149px
$why-we5-height: 149px
$why-we5-total-width: 608px
$why-we5-total-height: 485px
$why-we5-image: '../img/sprite.png'
$why-we5: (149px, 0px, -149px, 0px, 149px, 149px, 608px, 485px, '../img/sprite.png', 'why-we5', )
$why-we6-name: 'why-we6'
$why-we6-x: 0px
$why-we6-y: 0px
$why-we6-offset-x: 0px
$why-we6-offset-y: 0px
$why-we6-width: 149px
$why-we6-height: 149px
$why-we6-total-width: 608px
$why-we6-total-height: 485px
$why-we6-image: '../img/sprite.png'
$why-we6: (0px, 0px, 0px, 0px, 149px, 149px, 608px, 485px, '../img/sprite.png', 'why-we6', )
$spritesheet-width: 608px
$spritesheet-height: 485px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($eye, $header-mail, $icon-clock, $icon-header-arrow, $icon-header-phone, $icon-investments, $icon-payback, $red-arrow, $slider-arrow, $slider-arrow-hover, $who-need-lp1, $who-need-lp1-hover, $who-need-lp2, $who-need-lp2-hover, $who-need-lp3, $who-need-lp3-hover, $who-need-lp4, $who-need-lp4-hover, $who-need-lp5, $who-need-lp5-hover, $why-we1, $why-we2, $why-we3, $why-we4, $why-we5, $why-we6, )
$spritesheet: (608px, 485px, '../img/sprite.png', $spritesheet-sprites, )

/*
  The provided mixins are intended to be used with the array-like variables

  .icon-home
    @include sprite-width($icon-home)

  .icon-email
    @include sprite($icon-email)

  Example usage in HTML:
    `display: block` sprite:
    <div class="icon-home"></div>

  To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
    // CSS
    .icon {
      display: inline-block;
    }

    // HTML
    <i class="icon icon-home"></i>
  */
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

/*
  The `sprites` mixin generates identical output to the CSS template
    but can be overridden inside of SASS

  @include sprites($spritesheet-sprites)
  */
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
